@use "sass:color";
@use "./main.scss" as *;

@import url("/fonts/gotham.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $bg-site;
  color: $text-primary;
  font-family: $font-family-gotham;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  overflow-y: auto;
  scroll-behavior: smooth;

  Estilo da scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bar-hover;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: color.scale($bar-hover, $lightness: -10%);
  }

  scrollbar-width: thin;
  scrollbar-color: $bar-hover $black;
}
