@use "./main.scss" as *;

@import url("/fonts/gotham.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-site;
  color: $text-primary;
  font-family: $font-family-gotham;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 120rem;
  min-height: 100vh;
  margin-bottom: 22.25rem;
}
