.container {
  position: relative;
  width: 100%;
  height: 100vh; // pode ajustar conforme a área da animação
  overflow: hidden;

  img {
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
  }
}
