@use "../../styles/main.scss" as *;

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.marqueeInfiniteText {
  font-size: 8.3rem;
  color: $text-primary;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;

  & .line {
    width: 100%;
    height: 0.2rem;
    background-color: $white;

    &:last-of-type {
      margin-bottom: 7.6rem;
    }
  }
}

.mediaWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 18.4375rem;

  & .imageContainer {
    object-fit: contain;
  }

  & .marqueeScrollText {
    position: absolute;
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.125rem $stroke-text;
    letter-spacing: -0.06em;
    white-space: nowrap;

    bottom: -6rem;

    & > :last-child {
      font-style: italic;
    }
  }
}

@include respond-to("md") {
  .marqueeInfiniteText {
    font-size: 3.5rem;

    & .line {
      height: 0.1rem;

      &:last-of-type {
        margin-bottom: 19.5rem;
      }
    }
  }

  .mediaWrapper {
    display: none;
  }
}



