@use "../../styles/main.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: $bg-site;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.container {
  max-width: var(breakpoint-xl);
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.progressBar {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  background-color: $bar-hover;
  transition: width 0.1s linear
}

.scrolled {
  background-color: $bg-navbar;
}