@use "../../styles/main.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;

  @include respond-to("720p") {
    margin-top: 5rem;
  }

  @include respond-to("sm") {
    transform: translateY(-6rem);
  }

}

.backgroundText {
  position: absolute;
  font-size: 20rem;
  font-weight: $font-weight-black;
  opacity: 1;
  user-select: none;
  z-index: 0;
  text-align: right;
  word-break: break-word;
  pointer-events: none;
  color: $gray-bg-text;

  @include respond-to("720p") {
    font-size: 24rem;
    line-height: 0.8;
  }

  @include respond-to("xl") {
    font-size: 16rem;
  }

  @include respond-to("lg") {
    font-size: 10rem;
  }

  @include respond-to("md") {
    font-size: 12rem;
  }

  @include respond-to("sm") {
    font-size: 9.375rem;
    letter-spacing: -0.1rem;
    text-align: right;
    padding-right: 1.1875rem;
    line-height: 0.9;
  }
}

.title {
  font-size: clamp(3rem, 8vw, 6rem);
  display: flex;
  color: $text-primary;
  flex-direction: column;
  letter-spacing: -0.5%;
  font-weight: $font-weight-book;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  max-width: 1200px;

  span {
    display: block;
    white-space: nowrap;
    text-align: left;

    @include respond-to("sm") {
      transform: translateY(-1rem);
    }

    &:first-child {
      margin-left: 7.75rem;

      @include respond-to("sm") {
        margin-left: 15%;
      }
    }

    &:last-child {
      margin-left: 3rem;

      @include respond-to("sm") {
        margin-left: 10%;
      }
    }
  }

  @include respond-to("sm") {
    font-size: clamp(2.25rem, 5vw, 2.5rem);
  }

  @include respond-to("720p") {
    top: 40%;
  }

  @include respond-to("md") {
    top: 0;
  }

  @include respond-to("sm") {
    top: 40%;
  }
}
