@use "../../styles/main.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  @include respond-to("md") {
    height: 80vh;
  }

  @include respond-to("xs") {
    transform: translateY(3rem);
    height: 80vh;
  }

  @include respond-to("xxs") {
    transform: translateY(3rem);
    height: 75vh;
  }
}

.title {
  font-size: 6.875rem;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  font-weight: $font-weight-book;

  @include respond-to("hdplus") {
    font-size: 5rem;
  } 

  @include respond-to("md") {
    font-size: 4rem;
    margin-top: -13.5rem;
    margin-left: 1rem;
  }

  @include respond-to("sm") {
    margin-top: -6rem;
  }

  @include respond-to("xs") {
    font-size: 2rem;
    margin-top: -14.5rem;
    margin-left: -6rem;
  }

  @include respond-to("xxs") {
    margin-top: -6.5rem;
    margin-left: -3rem;
    font-size: 1.5rem;
  }

  span {
    white-space: nowrap;
    line-height: 1;

    &:first-child {
      margin-left: 8rem;

      @include respond-to("hdplus") {
        margin-left: 1rem;
      }

      @include respond-to("fhd") {
        margin-left: 10rem;
      }

      @include respond-to("xs") {
        margin-left: 15%;
      }

      @include respond-to("xxs") {
        margin-left: 2.7rem;
      }
    }

    &:last-child {
      margin-left: 3rem;

      @include respond-to("hdplus") {
        margin-left: -3rem;
      }

      @include respond-to("sm") {
        margin-left: -2rem;
      }

      @include respond-to("xs") {
        margin-left: 10%;
      }

      @include respond-to("xxs") {
        margin-left: 2.2rem;
      }
    }
  }
}

.backgroundText {
  font-size: 22rem;
  color: $gray-bg-text;
  font-weight: $font-weight-black;
  position: absolute;
  top: 27rem;
  user-select: none;
  z-index: 0;
  word-break: break-word;
  pointer-events: none;

  @include respond-to("hdplus") {
    font-size: 18rem;
    top: 37%;
  }

  @include respond-to("720p") {
    font-size: 20rem;
    line-height: 0.8;
  }

  @include respond-to("md") {
    text-align: right;
    padding-right: 1rem;
    top: 10rem;
  }

  @include respond-to("xxs") {
    font-size: 7rem;
    top: 10%;
    margin-right: 1rem;
  }
}

// ==============================================
// Responsividade dispositivos móveis
// ==============================================

@include respond-to("iphone-5-se-landscape") {
  .container {
    height: 100vh;
  }

  .title {
    position: absolute;
    top: 25%;
    left: 1.4rem;
    text-align: center;
    font-size: 2.5rem;

    span {
      &:last-child {
        margin-left: -3rem;
      }
    }
  }

  .backgroundText {
    font-size: 9rem;
    top: 20%;
  }
}
