@use "../../styles/main.scss" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow: visible;
  box-sizing: border-box;

  @include respond-to("xs") {
    min-height: 80vh;
  }
}

.backgroundText {
  position: absolute;
  transform: translateY(8vh);
  font-size: clamp(4rem, 20vw, 22rem);
  color: $gray-bg-text;
  font-weight: $font-weight-black;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  z-index: 0;

  @include respond-to("xs") {
    font-size: clamp(1rem, 19vh, 9rem);
    line-height: clamp(1rem, 17vh, 9rem);
    white-space: normal;
    word-break: break-word;
    text-align: right;
    right: 1.5rem;
    transform: translateY(-5vh);
  }

    @include respond-to("mobile") {
    transform: translateY(-4vh);
  }

  @include respond-to("xxs") {
    transform: translateY(-3vh);
  }
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond-to("xs") {
    transform: translateY(-8vh);
  }

  @include respond-to("xxs") {
    transform: translateY(-6.5vh);
  }

  span {
    display: inline-block;
    font-size: clamp(2rem, 8vw, 6.875rem);
    font-weight: $font-weight-book;
    color: $text-primary;
    white-space: nowrap;
    line-height: 6.5rem;

    @include respond-to("xs") {
      font-size: clamp(1rem, 4.5vh, 2rem);
      line-height: clamp(1rem, 5vh, 2rem);
    }
  }

  span:first-of-type {
    transform: translateX(4vh);
  }

  span:last-of-type {
    transform: translateX(-18vh);
  }

  // Responsividade spans
  @include respond-to("xs") {
    span:first-of-type {
      transform: translateX(0vw);
    }
    span:last-of-type {
      transform: translateX(-15vw);
    }
  }
}
