// Família de fontes
$font-family-gotham: 'Gotham HTF', sans-serif;

// Pesos da fonte
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-ultra: 900;