@use './styles/main.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-site;
  color: $text-primary;
  // row-gap: 5rem;
}
