@use "../../styles/main" as *;
@import "../../styles/breakpoints.scss";

.container {
  width: 100%;
  padding: 13.125rem;
}

.title {
  font-weight: $font-weight-book;
  color: $text-primary;
  font-size: 5.75rem;
  letter-spacing: -0.18rem;
}

.subtitle {
  font-weight: $font-weight-book;
  color: $text-secondary;
  font-size: 1.37rem;
  margin-left: 0.31rem;
}

.faqGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  margin-top: 7.875rem;
}

.faqItem {
  position: relative;
  padding-top: 1.875rem;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4.06rem;
    height: 0.125rem;
    background: $bar-default;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4.06rem; // Estado inicial
    height: 2px;
    background: $bar-default; // Cor padrão ao "voltar"
    transition: width 0.3s ease, background 0.3s ease;
    transform-origin: left;
  }

  &:hover::after,
  &.active::after {
    width: 100%;
    background: $bar-hover;
  }

  &.active {
    &::before {
      width: 0;
    }

    .question {
      color: $text-faq-hover;
    }

    .answer {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }
}

.question {
  font-size: 1.25rem;
  color: $text-faq;
  font-weight: $font-weight-medium;
}

.answer {
  font-size: 1rem;
  color: $text-faq;
  line-height: 1.18rem;
  opacity: 0;
  transform: translateX(-10px);
  visibility: hidden;
  transition: all 0.6s ease;
  margin-top: 1rem;
}
