@use "../../styles/main.scss" as *;

.navbar {
  position: fixed;
  inset: 0;
  height: 5rem;
  background-color: $bg-site;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  & .container {
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
  }

  & .logo {
    display: flex;
    align-items: center;
  }

  & .progressBar {
    position: absolute;
    bottom: -0.1875rem;
    left: 0;
    height: 0.1875rem;
    background-color: $bar-hover;
    transition: width 0.2s linear;
  }
}

.scrolled {
  background-color: $bg-navbar;
}

@include respond-to(md) {
  .logoImg {
    width: 5.25rem;
    height: 1.4375rem;
  }
}
