@use "../../styles/main" as *;

%baseStyle {
  font-family: $font-family-gotham;
}

%mainStyle {
  @extend %baseStyle;
  color: $text-primary;
  font-weight: $font-weight-book;
  font-size: 6.87rem;
  line-height: 4.81rem;
  letter-spacing: -0.3rem;
  position: relative;
}

.header {
  width: 77.56rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20.06rem;
}

.container {
  height: 19.56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTitle {
  z-index: 1;
}

.primaryText {
  @extend %mainStyle;
  display: block;
  margin-left: 7.75rem;
}

.secondaryText {
  @extend %mainStyle;
  display: block;
  margin-left: 3rem;
  margin-top: 1.37rem;
}

.backgroundText {
  @extend %baseStyle;
  z-index: 0;
  text-transform: uppercase;
  color: $text-decorative;
  font-weight: $font-weight-black;
  font-size: 21.87rem;
  line-height: 1.68rem;
  letter-spacing: -1px;
}

