@use "../../styles/main" as *;

.container {
  width: 100%;
  padding: 14rem 22rem 0 13rem;
  font-family: $font-family-gotham;
  font-weight: $font-weight-book;

  border: 1px solid red;
}

.title {
  font-weight: $font-weight-book;
  color: $text-primary;
  font-size: 5.75rem;
  letter-spacing: -0.18rem;
}

.subtitle {
  font-weight: $font-weight-book;
  color: $text-secondary;
  font-size: 1.37rem;
  letter-spacing: 0.18rem;
  margin-left: 0.31rem;
}

.menuItem {
  gap: 6.125rem;
  display: flex;
  margin-top: 2.56rem;
  position: relative;
}

.coursesHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.itemButton {
  background: none;
  border: none;
  color: $text-list-title;
  font-size: 1.06rem;
  // padding: 0.7rem 0;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  height: 1.875rem;

  border: 1px solid blue;
}