@use "../../styles/main" as *;

.container {
  font-family: $font-family-gotham;
  white-space: nowrap;     
  overflow: hidden;  

  padding-bottom: 114px;

  border: 1px solid orange;
}

.topText {
  display: flex;
  flex-direction: column;
  align-items: center;

  .lineText:last-of-type {
    margin-bottom: 4.75rem;
  }
}

.textTransition {
  color: $text-primary;
  font-size: 5.18rem;
  text-transform: uppercase;
  line-height: 1.6;
}

.lineText {
  width: 100%;
  height: 0.125rem;
  background-color: $white;
}

.imageWrapper {
  position: relative;
  width: fit-content;

  .imageIntro {
    display: block;
    margin-left: 11.31rem;
  }

  .bottomText {
    position: absolute;
    top: 625px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .textStroke,
    .textStrokeItalic {
      font-size: 9rem;
      text-transform: uppercase;
      -webkit-text-stroke: 0.125rem $stroke-text;
      color: transparent;

      display: flex;
      justify-content: center;
    }

    .textStrokeItalic {
      font-style: italic;
    }
  }
}

.elipse {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 2px solid $stroke-text;
  border-radius: 50%;
  background-color: transparent;
  margin: auto 40px;
}
