@use "../../styles/main.scss" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  & .backgroundText {
    position: absolute;
    top: 37rem;

    font-size: 35rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: $font-weight-black;
    color: $gray-bg-text;
    text-transform: uppercase;
  }

  & .title {
    display: flex;
    flex-direction: column;
    font-weight: $font-weight-book;
    z-index: 1;
    
    & span {
      display: inline-block;
      font-size: 11rem;
      line-height: 0.9;
      letter-spacing: -0.05em;

      &:last-of-type {
        transform: translateX(-7.2rem);
      }
    }
  }
}

@include respond-to("xs") {
  .container {
    min-height: 66vh;

    & .backgroundText {
      /* SOB RE */
      inset: 0;
      font-size: 15rem;
      line-height: 0.95;
      letter-spacing: -0.03em;

      word-break: break-word;
      text-align: right;
      margin-right: 2.5rem;
      margin-top: 10rem;
    }

    & .title {
      all: unset;
      transform: translateY(-2.3rem);

      & span {
        font-size: 3.6rem;
        margin-left: 3.9rem;
        line-height: 1;

        &:last-of-type {
          transform: translateX(0);
          margin-left: 2.7rem;
        }
      }
    }
  }
}